.App {
  text-align: center;
  background-color: rgba(150, 150, 150, 0.171);
  height: 100%;
  width: 100%;
}
.scene-container {
  height: 100vh;
  width: 100%;
  border: 1px solid blue;
  display: flex;
}

.scene {
  width: 100%;
  height: 100vh;
}
